@font-face {
  font-family: 'IcoMoon-Ultimate';
  src: url('../fonts/icomoon/IcoMoon-Ultimate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../fonts/Work_Sans/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('../fonts/Work_Sans/WorkSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OldStandardTT';
  src: url('../fonts/Old_Standard_TT/OldStandardTT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OldStandardTT-Bold';
  src: url('../fonts/Old_Standard_TT/OldStandardTT-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 !important;
}

.shell {
  height: 100vh;
  // width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

.header {
  text-align: center;
  z-index: 5;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  width: 100vw;
}

.home {
  left: 10px;
  position: absolute;
}
// .nav-title {
//   color: rgba(255, 255, 255, 0.5);
//   mix-blend-mode: multiply;
//   text-align: center;
//   font-family: 'WorkSans-Bold', Arial, Helvetica, sans-serif;
//   text-transform: uppercase;
//   font-weight: bold;
//   font-size: 2rem;
//   letter-spacing: 2px;
//   margin: 10px 0;
//   z-index: 4;
// }
.phone {
  top: 0px;
  right: 70px;
  position: absolute;
}

.mail {
  top: 0px;
  right: 20px;
  position: absolute;
}

.icon {
  font-family: 'IcoMoon-Ultimate';
  font-size: 2rem;
  margin: 10px;
  color: #232323;
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a.right {
  float: right;
}

.header-img {
  background-color: #232323;
  background-image: url('../images/point-at-potato.png');
  background-size: cover;
  height: 73vh;
  padding: 20px 0;
  transform: scale(1.1);
  margin-top: 50px;
  background-position: center;
  animation-name: header-img;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: forwards;
  animation-delay: 0s;
}

.description-slip {
  background-color: #baa28e;
  margin-top: 30px;
  padding: 10px 0;

  div {
    font-family: 'OldStandardTT', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;

    h4 {
      font-size: 1.5rem;

      span {
        text-transform: uppercase;
        font-family: 'WorkSans-Bold', Arial, Helvetica, sans-serif;
      }
    }
  }
}

.banner1 {
  font-family: 'OldStandardTT', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2.5px;
  padding: 50px 0 20px 0;
}

.banner2 {
  font-family: 'WorkSans-Bold', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 6.5rem;
  letter-spacing: 2px;
  color: #fff;
  border-top: solid #fff 5px;
  padding-top: 20px;
  border-bottom: solid #fff 5px;
  padding-bottom: 20px;
}

.line2 {
  margin-top: -20px;
}

.banner3 {
  font-family: 'OldStandardTT', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 5px;
  color: #fff;
  margin-top: 20px;
}

.arrow-cont {
  position: relative;
  height: 35vh;
}

.arrow-up {
  font-family: 'IcoMoon-Ultimate';
  font-size: 3rem;
  margin: 10px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 48%;
}

.black-slice {
  background-color: #232323;
  z-index: 5;
  padding: 10vh 0;

  .black-slice-content {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: solid #fff 5px;
    padding-bottom: 40px;
  }
}

.brown-slice {
  background-color: #baa28e;
  z-index: 5;
  padding: 10vh 0;

  .brown-slice-content {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: solid #fff 5px;
    padding-bottom: 40px;
    text-align: left;
  }

  .slice-text {
    float: right;
    text-align: left;
  }

  .slice-p {
    text-align: left;
  }

  .slice-img {
    margin-right: 40px;
    margin-left: 0px;
  }
}

.white-slice {
}

.slice-text {
  font-family: 'OldStandardTT', Arial, Helvetica, sans-serif;
  letter-spacing: 2.5px;
  color: #fff;
  float: left;
  width: 45vw;
  max-width: 600px;
  text-align: right;
  margin: 0 auto;
}

.slice-img {
  width: 30vw;
  max-width: 300px;
  /* border-radius: 50%; */
  vertical-align: middle;
  margin-left: 40px;
}

.slice-h3 {
  font-size: 1.8rem;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  color: rgba(225, 225, 225, 0.5);
  font-family: 'WorkSans-Bold', Arial, Helvetica, sans-serif;
}

.paul {
  font-weight: bold;
  font-family: 'WorkSans-Bold', Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 2.5rem;
}

.slice-p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.7;
}

.contact-slip {
  background-color: #fff;
  padding: 10px 0;

  div {
    font-family: 'OldStandardTT', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;

    h4 {
      font-size: 1.2rem;

      .icon {
        vertical-align: middle;
        margin-left: 20px;
    

      span {
        // text-transform: uppercase;
        font-family: 'WorkSans-Bold', Arial, Helvetica, sans-serif;
      }
    }
  }
}
}
      .link {
        color: #232323;
        text-decoration: none;
        border-bottom: 1px #232323 solid;
      }
    
.insta-slip {
  .insta-slip-cont {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 30vh;

    .img-cont {
      width: 1000px;
      height: 200px;
      white-space: nowrap;
    }

    .slide-img {
      height: 25vh;
      margin: 10px;
      width: auto;
      display: inline-block;
    }
  }

  .insta-link {
    height: 50px;
    text-align: right;
    padding-right: 20px;
    display: block;
    font-size: 1.2rem;
    padding-top: 20px;
    letter-spacing: 1px;
    background-color: rgba(225, 225, 225, 0.5);
    span {
      float: left;
      padding-left: 20px;
    }
    .icon {
      vertical-align: middle;
    }
  }
}

@keyframes header-img {
  0% {
    background-image: url('../images/point-at-potato.png');
  }

  25% {
    background-image: url('../images/potato-family.png');
  }

  50% {
    background-image: url('../images/potato-paul.png');
  }

  75% {
    background-image: url('../images/just-potatoes.png');
  }

  100% {
    background-image: url('../images/point-at-potato.png');
  }
}